<VirtualHost *:80>
    ServerName captain.com
    ServerAlias www.captain.com
    DocumentRoot /var/nfs/www/captain.com/html
    <Directory /var/nfs/www/captain.com/html>
        Options -Indexes +FollowSymLinks +MultiViews
        AllowOverride All
        Require all granted
    </Directory>
    ErrorLog /var/nfs/www/captain.com/log/error.log
    CustomLog "| /bin/sh -c '/usr/bin/tee -a /var/nfs/www/captain.com/log/requests.log | /usr/bin/logger -thttpd_captain -plocal1.notice'" combined
</VirtualHost>